#mxplay{
  display:inline-block;  
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.9); 
  box-sizing: border-box;
  padding: 8px 16px 3px;
  border-radius: 100%; 
  margin: 10px 20px 0 0; 
  cursor: pointer;
  transition: all 0.3s;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
}
#mxplay:focus {  
  outline: 0; 
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}
#mxplay::after { 
  content: '';  
  display: inline-block;  
  position: relative;  
  top: 1px;  
  left: 3px;  
  border-style: solid;  
  border-width: 15px 0px 15px 20px;  
  border-color: transparent transparent transparent #333;
}
#mxplay.active{
  background: #70A32F;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7);
}
#mxplay:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
